* {
	margin: 0px; padding: 0px;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
a {
	
}
input {
	
}
:focus {
	
}
h1 {
	font-size: 100%; font-weight: 400;
}
h2 {
	font-size: 100%; font-weight: 400;
}
h3 {
	font-size: 100%; font-weight: 400;
}
h4 {
	font-size: 100%; font-weight: 400;
}
h5 {
	font-size: 100%; font-weight: 400;
}
h6 {
	font-size: 100%; font-weight: 400;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
em {
	font-style: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
:link {
	text-decoration: none;
}
:visited {
	text-decoration: none;
}
ins {
	text-decoration: none;
}
area {
	border: 0px currentColor;
}
area:active {
	border: 0px currentColor;
}
blockquote::before {
	content: "";
}
blockquote::after {
	content: "";
}
q::before {
	content: "";
}
q::after {
	content: "";
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
input {
	border: 0px currentColor;
}
textarea {
	overflow: auto; resize: vertical;
}
html {
	background: rgb(255, 255, 255); height: 100%; overflow-y: scroll;
}
body {
	color: rgb(102, 102, 102); font-family: Tahoma, "����", sans-serif; font-size: 12px;
}
input {
	color: rgb(102, 102, 102); font-family: Tahoma, "����", sans-serif; font-size: 12px;
}
textarea {
	color: rgb(102, 102, 102); font-family: Tahoma, "����", sans-serif; font-size: 12px;
}
table {
	color: rgb(102, 102, 102); font-family: Tahoma, "����", sans-serif; font-size: 12px;
}
td {
	color: rgb(102, 102, 102); font-family: Tahoma, "����", sans-serif; font-size: 12px;
}
body {
	position: relative;
}
img {
	vertical-align: middle;
}
object {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
.clear {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px;
}
.clear-all {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px;
}
.clearfix::after {
	height: 0px; clear: both; font-family: Arial, Helvetica, sans-serif; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.clearfix {
	
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:visited {
	color: rgb(51, 51, 51); _color: inherit;
}
a:hover {
	color: rgb(255, 111, 33);
}
a:active {
	
}
.pointer {
	cursor: pointer;
}
.relative {
	position: relative;
}
.word-break {
	word-break: break-all; word-wrap: break-word;
}
.word-hidden {
	overflow: hidden; word-wrap: break-word;
}
.wrapper {
	margin: 0px auto; width: 960px; text-align: left; padding-left: 15px; zoom: 1;
}
.blank10 {
	height: 10px; overflow: hidden; clear: both;
}
.blank20 {
	height: 20px; overflow: hidden; clear: both;
}
.mid {
	width: 278px;
}
.small {
	width: 120px;
}
.textarea {
	padding: 10px; border: 1px solid rgb(204, 204, 204);
}
.btn {
	padding: 5px 20px; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 16px;
}
.btn:hover {
	background: rgb(255, 102, 0); color: rgb(255, 255, 255);
}
.btn-orange {
	background: rgb(255, 153, 0); color: rgb(255, 255, 255);
}
a.btn-play {
	background: url("images/btns.png") no-repeat 0px 0px; width: 220px; height: 43px; color: rgb(102, 102, 102); text-indent: -999px; overflow: hidden; float: left; display: block;
}
a.btn-play:hover {
	background: url("images/btns.png") no-repeat 0px -43px; color: rgb(102, 102, 102);
}
.btns-play a {
	background: rgb(232, 232, 232); padding: 5px 10px; border: 1px solid rgb(204, 204, 204); width: 50px; text-align: center; font-size: 14px; margin-right: 4px; margin-bottom: 10px; display: inline-block;
}
.show-play a {
	width: 290px; text-align: left; overflow: hidden; white-space: nowrap;
}
.btns-play a:hover {
	background: rgb(255, 153, 0); border: 1px solid rgb(255, 102, 0); color: rgb(255, 255, 255);
}
.btns-play2 a {
	background: rgb(232, 232, 232); padding: 5px 10px; border: 1px solid rgb(204, 204, 204); width: 290px; font-size: 14px; margin-right: 4px; margin-bottom: 10px; display: inline-block;
}
.btns-play2 a:hover {
	background: rgb(255, 153, 0); border: 1px solid rgb(255, 102, 0); color: rgb(255, 255, 255);
}
.title12 {
	color: rgb(136, 136, 136); font-size: 12px; font-weight: normal;
}
.title16 {
	line-height: 200%; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 16px; margin-bottom: 10px;
}
.title16 span {
	padding-left: 145px; font-size: 12px;
}
.title18 {
	line-height: 36px; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 18px; margin-bottom: 10px;
}
.title24 {
	line-height: 200%; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 24px; margin-bottom: 10px;
}
.ui-title2 h2 {
	left: 0px; top: 1px; border-bottom-color: rgb(133, 0, 51); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
.ui-title2 {
	height: 37px; border-bottom-color: rgb(255, 102, 0); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.cWhite {
	color: rgb(255, 255, 255);
}
.cBlack {
	color: rgb(0, 0, 0);
}
.cGrey {
	color: rgb(153, 153, 153);
}
.cOrange {
	color: rgb(255, 102, 0);
}
.cBlue {
	color: rgb(51, 102, 153);
}
.cYellow {
	color: rgb(255, 204, 102);
}
.colMainL {
	width: 682px; float: left;
}
.colMainL2 {
	width: 620px; float: left;
}
.colMainL2 img {
	width: 220px; height: 300px;
}
.colMain3 {
	width: 682px; float: right;
}
.colSide {
	width: 250px; overflow: hidden; float: right;
}
.colSide2 {
	width: 300px; overflow: hidden; float: right;
}
.colSide3 {
	width: 250px; overflow: hidden; float: left;
}
html {
	height: 100%; overflow: hidden;
}
body {
	height: 100%; scrollbar-face-color: rgb(51, 51, 51); scrollbar-3dlight-color: rgb(0, 0, 0); scrollbar-shadow-color: rgb(51, 51, 51); scrollbar-highlight-color: rgb(51, 51, 51); scrollbar-darkshadow-color: rgb(51, 51, 51); scrollbar-arrow-color: rgb(153, 153, 153); scrollbar-track-color: rgb(0, 0, 0);
}
#header {
	height: 50px;
}
#container {
	width: 100%; position: absolute; overflow-x: auto; overflow-y: scroll;
}
#bottom {
	width: 42px; right: 30px; bottom: 0px; position: absolute;
}
#bottom a {
	padding-bottom: 10px; display: block;
}
.imgList2 li {
	width: 320px; height: 160px; margin-right: 10px; margin-bottom: 10px; float: left;
}
.imgList2 div {
	float: left;
}
.imgList2 .il2Img {
	width: 115px; height: 150px;
}
.imgList2 .il2Info {
	width: 190px; padding-top: 3px; padding-left: 10px;
}
.imgList2 .il2Info span font {
	font-size: 12px;
}
.imgList2 .il2Title a {
	color: rgb(102, 102, 102); font-size: 14px; font-weight: bold;
}
.imgList2 .il2Info span {
	padding: 3px 0px 3px 36px; width: 154px; text-indent: -35px; display: block;
}
.imgList2 .il2Title {
	margin-bottom: 5px;
}
.imgList2 .il2Info .srcLbl {
	width: 30px; padding-top: 3px; float: left; display: block;
}
.sourceOnList dt {
	padding-top: 3px; float: left;
}
.sourceOnList dd {
	padding-top: 3px; float: left;
}
.sourceOnList dt {
	width: 36px;
}
.sourceOnList dd {
	width: 152px;
}
.imgList1 li {
	margin: 0px 20px 10px 0px; width: 115px; height: 200px; text-align: center; overflow: hidden; float: left; display: inline;
}
.imgList1 li.last {
	margin-right: 0px;
}
.imgList1 .avatar {
	width: 115px; height: 150px; overflow: hidden; display: block; position: relative;
}
.imgList2 .avatar {
	width: 115px; height: 150px; overflow: hidden; display: block; position: relative;
}
.imgList1 .avatar img {
	width: 100%; height: 100%;
}
.imgList1 li .avatar:hover .mask-play {
	background: url("images/play.png"); left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 333; cursor: pointer;
}
.imgList2 li .avatar:hover .mask-play {
	background: url("images/play.png"); left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 333; cursor: pointer;
}
.imgList1 li .avatar .tip {
	background: 0px 0px rgba(0, 0, 0, 0.4) !important; left: 0px; width: 100%; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 20px; filter: Alpha(opacity=40); position: absolute; z-index: 999;
}
.imgList1 li .name a:link {
	color: rgb(102, 153, 0); line-height: 24px; font-size: 14px; font-weight: bold; white-space: nowrap;
}
.imgList1 li .name a:visited {
	color: rgb(102, 153, 0); line-height: 24px; font-size: 14px; font-weight: bold; white-space: nowrap;
}
.imgList1 li .name a:hover {
	color: rgb(51, 51, 51);
}
.imgList1 li .info {
	color: rgb(136, 136, 136); white-space: nowrap;
}
.rank li {
	height: 16px; overflow: hidden; margin-bottom: 8px; vertical-align: middle;
}
.rank .num {
	background: rgb(153, 153, 153); width: 16px; height: 16px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; font-family: Tahoma, Geneva, sans-serif; margin-right: 8px; float: left; display: inline;
}
.rank .top1 .num {
	background: rgb(255, 60, 0);
}
.rank .top2 .num {
	background: rgb(255, 102, 0);
}
.rank .top3 .num {
	background: rgb(255, 153, 0);
}
.rank .name {
	width: 175px; float: left; cursor: pointer;
}
.rank .point {
	color: rgb(136, 136, 136); float: right; cursor: pointer;
}
.category {
	overflow: hidden; padding-top: 10px; margin-right: -20px;
}
.category li {
	line-height: 22px; margin-right: 11px; float: left;
}
.category li a {
	width: 32px; text-align: center; float: left; display: block;
}
.category li strong {
	width: 32px; text-align: center; float: left; display: block;
}
.category li a.cur {
	background: rgb(255, 102, 0); color: rgb(255, 255, 255);
}
.ctrl-tab {
	padding-bottom: 10px;
}
.ctrl-tab li {
	width: 62px; height: 30px; text-align: center; line-height: 24px; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 14px; float: left; cursor: pointer;
}
.ctrl-tab li.cur {
	background: url("images/icons.png") 0px -160px; color: rgb(255, 255, 255);
}
.ctrl-tab2 {
	background: url("images/title.gif") repeat-x 0px -216px; height: 36px; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 16px; margin-bottom: 20px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;
}
.ctrl-tab2 li {
	height: 32px; border-top-color: rgb(204, 204, 204); border-top-width: 3px; border-top-style: solid; float: left;
}
.ctrl-tab2 li a {
	background: rgb(248, 248, 248); padding: 0px 30px; height: 32px; line-height: 32px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left; display: block;
}
.ctrl-tab2 li.cur {
	border-top-color: rgb(255, 102, 0); border-top-width: 3px; border-top-style: solid;
}
.ctrl-tab2 li.cur a {
	background: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.ctrl-tab3 li {
	padding: 0px 20px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
.ctrl-tab3 li a {
	text-align: center; color: rgb(51, 102, 204); font-weight: bold;
}
.ctrl-tab3 li a:hover {
	color: rgb(0, 0, 0);
}
.ctrl-tab3 li.cur a {
	color: rgb(255, 102, 0);
}
#pages {
	clear: both;
}
div.badoo {
	padding: 10px 0px; text-align: center; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 13px; background-color: rgb(255, 255, 255);
}
div.badoo a {
	margin: 0px 2px; padding: 2px 5px; border: 1px solid rgb(213, 213, 213); color: rgb(51, 51, 51); text-decoration: none;
}
div.badoo a:hover {
	border: 1px solid rgb(213, 213, 213); color: rgb(51, 51, 51);
}
div.badoo a:active {
	border: 1px solid rgb(213, 213, 213); color: rgb(51, 51, 51);
}
div.badoo span.current {
	padding: 2px 5px; border: 1px solid rgb(213, 213, 213); color: rgb(255, 90, 0); font-weight: bold;
}
div.badoo span.disabled {
	display: none;
}
div.badoo input {
	margin: 2px; padding: 2px; border: 1px solid rgb(213, 213, 213); width: 15px; height: 15px; text-align: center; color: rgb(255, 90, 0);
}
.header {
	background: url("images/headerbg.jpg") repeat-x left top; height: 50px;
}
.searchBox {
	top: 11px; margin-right: 70px; float: right; display: inline; position: relative;
}
.searchBox .input-search {
	background: rgb(83, 83, 83); padding: 7px; top: 0px; width: 130px; height: 14px; right: 0px; color: rgb(204, 204, 204); line-height: 14px; position: absolute;
}
.searchBox .btn-search {
	top: 0px; right: 0px; position: absolute; z-index: 333;
}
.mainNav {
	height: 50px; float: left;
}
.mainNav li {
	padding: 5px 0px 3px; height: 42px; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 16px; font-weight: bold; margin-right: 5px; float: left; display: inline;
}
.mainNav li a:link {
	width: 85px; height: 42px; color: rgb(102, 102, 102); text-indent: -9999px; overflow: hidden; display: block; background-image: url("images/nav.gif"); background-repeat: no-repeat;
}
.mainNav li a:visited {
	width: 85px; height: 42px; color: rgb(102, 102, 102); text-indent: -9999px; overflow: hidden; display: block; background-image: url("images/nav.gif"); background-repeat: no-repeat;
}
.mainNav li.cur a.nav-home:link {
	background-position: -170px 0px;
}
.mainNav li.cur a.nav-home:visited {
	background-position: -170px 0px;
}
.mainNav li a.nav-home:link {
	
}
.mainNav li a.nav-home:visited {
	
}
.mainNav li a.nav-home:hover {
	background-position: -85px 0px;
}
.mainNav li a.nav-movie:link {
	background-position: 0px -42px;
}
.mainNav li a.nav-movie:visited {
	background-position: 0px -42px;
}
.mainNav li.cur a.nav-movie:link {
	background-position: -170px -42px;
}
.mainNav li.cur a.nav-movie:visited {
	background-position: -170px -42px;
}
.mainNav li a.nav-movie:hover {
	background-position: -85px -42px;
}
.mainNav li a.nav-tv:link {
	background-position: 0px -84px;
}
.mainNav li a.nav-tv:visited {
	background-position: 0px -84px;
}
.mainNav li.cur a.nav-tv:link {
	background-position: -170px -84px;
}
.mainNav li.cur a.nav-tv:visited {
	background-position: -170px -84px;
}
.mainNav li a.nav-tv:hover {
	background-position: -85px -84px;
}
.mainNav li a.nav-show:link {
	background-position: 0px -126px;
}
.mainNav li a.nav-show:visited {
	background-position: 0px -126px;
}
.mainNav li.cur a.nav-show:link {
	background-position: -170px -126px;
}
.mainNav li.cur a.nav-show:visited {
	background-position: -170px -126px;
}
.mainNav li a.nav-show:hover {
	background-position: -85px -126px;
}
.mainNav li a.nav-comic:link {
	background-position: 0px -168px;
}
.mainNav li a.nav-comic:visited {
	background-position: 0px -168px;
}
.mainNav li.cur a.nav-comic:link {
	background-position: -170px -168px;
}
.mainNav li.cur a.nav-comic:visited {
	background-position: -170px -168px;
}
.mainNav li a.nav-comic:hover {
	background-position: -85px -168px;
}
.mainNav li a.nav-rank:link {
	background-position: 0px -210px;
}
.mainNav li a.nav-rank:visited {
	background-position: 0px -210px;
}
.mainNav li.cur a.nav-rank:link {
	background-position: -170px -210px;
}
.mainNav li.cur a.nav-rank:visited {
	background-position: -170px -210px;
}
.mainNav li a.nav-rank:hover {
	background-position: -85px -210px;
}
.mainNav li a.nav-live:link {
	background-position: 0px -252px;
}
.mainNav li a.nav-live:visited {
	background-position: 0px -252px;
}
.mainNav li.cur a.nav-live:link {
	background-position: -170px -252px;
}
.mainNav li.cur a.nav-live:visited {
	background-position: -170px -252px;
}
.mainNav li a.nav-live:hover {
	background-position: -85px -252px;
}
.mainNav li.btn1 {
	margin-right: 0px;
}
.mainNav li.btn2 {
	margin-right: 20px;
}
.mainNav li a.back:link {
	background-position: -2px -294px; width: 42px;
}
.mainNav li a.back:visited {
	background-position: -2px -294px; width: 42px;
}
.mainNav li a.back:hover {
	background-position: -87px -294px;
}
.mainNav li a.refresh:link {
	background-position: -2px -336px; width: 42px;
}
.mainNav li a.refresh:visited {
	background-position: -2px -336px; width: 42px;
}
.mainNav li a.refresh:hover {
	background-position: -87px -336px;
}
.history:link {
	top: 15px; right: 5px; color: rgb(255, 255, 255); position: absolute;
}
.history:visited {
	top: 15px; right: 5px; color: rgb(255, 255, 255); position: absolute;
}
.history:hover {
	color: rgb(153, 153, 153);
}
.crumbs {
	padding: 15px 0px;
}
.crumbs a {
	padding: 0px 3px;
}
.crumbs span {
	padding: 0px 3px;
}
.ui-title {
	background: url("images/title.gif") repeat-x 0px -160px rgb(255, 255, 255); height: 40px; overflow: hidden; position: relative;
}
.ui-title .more {
	background: rgb(255, 255, 255); padding: 0px 15px; top: 0px; height: 40px; right: 40px; color: rgb(102, 102, 102); line-height: 40px; position: absolute;
}
.ui-title .more:hover {
	color: rgb(255, 102, 0);
}
.ui-title h2 {
	margin: 0px auto; width: 280px; height: 40px; text-align: center; text-indent: -9999px; overflow: hidden; background-image: url("images/title.gif");
}
.movie {
	background: url("images/line1.gif") repeat-y left top; margin-bottom: 20px;
}
.tv {
	background: url("images/line1.gif") repeat-y left top; margin-bottom: 20px;
}
.show {
	background: url("images/line1.gif") repeat-y left top; margin-bottom: 20px;
}
.comic {
	background: url("images/line1.gif") repeat-y left top; margin-bottom: 20px;
}
.movie h2 {
	
}
.tv h2 {
	background-position: 0px -40px;
}
.show h2 {
	background-position: 0px -80px;
}
.comic h2 {
	background-position: 0px -120px;
}
.colSide .category {
	margin-left: -3px;
}
.banner {
	background: rgb(51, 51, 51); height: 330px;
}
.banner .wrapper {
	height: 330px; position: relative;
}
.feature {
	top: 0px; width: 960px; height: 330px; overflow: hidden; position: absolute;
}
.feature .output li {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.feature .output li h3 {
	background: url("images/play2.png") no-repeat left bottom; left: 0px; width: 100%; height: 58px; bottom: 0px; color: rgb(255, 255, 255); line-height: 58px; text-indent: 70px; font-family: "Microsoft Yahei", "΢���ź�", "����"; font-size: 20px; position: absolute; _background: none;
}
.feature .ctrl {
	background: url("images/ctrlbg.png"); width: 66px; height: 30px; right: 305px; bottom: 15px; position: absolute; z-index: 333; _background: url(/Images/ctrlbg.gif);
}
.feature .ctrl a {
	width: 30px; height: 30px; overflow: hidden; display: inline-block;
}
.feature .ctrl a.btn-prev {
	background: url("images/icons.png") no-repeat -73px -113px; margin-right: 1px;
}
.feature .ctrl a.btn-next {
	background: url("images/icons.png") no-repeat -110px -113px;
}
.feature .ctrl a.btn-prev:hover {
	background: url("images/icons.png") no-repeat -153px -113px;
}
.feature .ctrl a.btn-next:hover {
	background: url("images/icons.png") no-repeat -190px -113px;
}
.recommend {
	width: 280px; height: 330px; float: right; position: relative; z-index: 333;
}
.recommend .mask {
	background: url("images/60.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 280px; height: 330px; position: absolute; _background: none;
}
.recommend h2 {
	margin-right: 15px; margin-left: 15px; border-bottom-color: rgb(83, 196, 230); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 333;
}
.recommend ul li a {
	padding: 0px 15px; height: 26px; line-height: 26px; overflow: hidden; vertical-align: middle; display: block; position: relative; zoom: 1;
}
.recommend ul li a:hover {
	margin: 0px 15px; padding: 0px; border-bottom-color: rgb(83, 196, 230); border-bottom-width: 1px; border-bottom-style: dotted;
}
.recommend ul li.even {
	
}
.recommend ul li .name {
	width: 200px; color: rgb(255, 255, 255); overflow: hidden; float: left; white-space: nowrap; cursor: pointer;
}
.recommend ul li .point {
	color: rgb(153, 153, 153); font-family: Tahoma, Geneva, sans-serif;
}
.fav {
	margin-bottom: 10px;
}
.fav .imgList1 li {
	margin-right: 25px;
}
.fav .imgList1 li.last {
	margin-right: 0px;
}
.ctrl-fav {
	padding-top: 20px; float: right;
}
.ctrl-fav li {
	float: left;
}
.ctrl-fav li a {
	background: url("images/icons.png") no-repeat -160px -200px; width: 12px; height: 12px; text-indent: -999px; overflow: hidden; margin-right: 5px; display: block;
}
.ctrl-fav li.cur a {
	background: url("images/icons.png") no-repeat -200px -200px; width: 12px; height: 12px;
}
.ctrl-prev {
	background: url("images/icons.png") no-repeat 0px -200px; width: 30px; height: 30px; text-indent: -9999px; margin-top: 12px; float: right; display: inline;
}
.ctrl-prev:hover {
	background: url("images/icons.png") no-repeat -80px -200px;
}
.ctrl-next {
	background: url("images/icons.png") no-repeat -40px -200px; width: 30px; height: 30px; text-indent: -9999px; margin-top: 12px; float: right; display: inline;
}
.ctrl-next:hover {
	background: url("images/icons.png") no-repeat -120px -200px;
}
.history-dropmenu {
	top: 39px; width: 280px; right: -3px; position: absolute; z-index: 3333; zoom: 1;
}
.history-dropmenu .history-titleBar {
	background: url("images/icons.png") no-repeat 0px -300px; height: 8px; overflow: hidden;
}
.history-dropmenu .history-list {
	background: rgb(102, 102, 102); padding: 15px; line-height: 20px; overflow: hidden; zoom: 1;
}
.history-dropmenu .history-list li {
	width: 220px; color: rgb(51, 51, 51); padding-left: 25px; margin-bottom: 5px; position: relative;
}
.history-dropmenu .h-info {
	float: right;
}
.history-dropmenu b {
	font-weight: normal;
}
.history-dropmenu .h-num {
	border: 1px solid rgb(51, 51, 51); left: 0px; top: 3px; width: 14px; height: 14px; text-align: center; color: rgb(204, 204, 204); line-height: 14px; font-size: 10px; display: block; position: absolute;
}
.history-dropmenu .h-name {
	color: rgb(255, 255, 255);
}
.history-dropmenu .h-name:hover {
	color: rgb(255, 204, 102);
}
.history-ctrlBar {
	background: rgb(255, 146, 4); padding: 5px; text-align: right; color: rgb(51, 51, 51); overflow: hidden;
}
.history-ctrlBar a {
	padding: 0px 5px; color: rgb(255, 255, 255);
}
.history-ctrlBar a:hover {
	color: rgb(51, 51, 51);
}
.footer {
	background: rgb(248, 248, 248); padding: 20px 0px 0px; line-height: 180%; margin-top: 30px; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid;
}
.footer .wrapper {
	background: url("images/icons7.gif") no-repeat 660px 100%; text-align: center; padding-bottom: 20px;
}
.ad250x250 {
	margin: 20px 0px;
}
.play {
	width: 220px; height: 300px; overflow: hidden; margin-right: 20px; float: left; position: relative;
}
.mask-play2 {
	display: none;
}
.play:hover .mask-play2 {
	background: url("images/play3.png"); left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 333; cursor: pointer;
}
.videoInfo {
	width: 380px; float: left;
}
.videoInfo .point {
	padding: 10px 0px 10px 90px; height: 40px; margin-bottom: 5px; border-top-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative;
}
.videoInfo .grade-score {
	background: rgb(51, 204, 255); padding: 0px 5px; left: 0px; top: 10px; height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-family: "Microsoft Yahei", "����"; font-size: 30px; position: absolute;
}
.videoInfo .grade-score .title12 {
	color: rgb(4, 65, 78);
}
.videoInfo p {
	padding-top: 7px;
}
.videoInfo .link-play {
	padding-top: 22px;
}
.newest {
	padding-bottom: 10px; clear: both; margin-bottom: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.ctrl-supply {
	background: url("images/title.gif") 0px -208px; height: 44px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid;
}
.ctrl-supply li {
	line-height: 20px; border-top-color: rgb(204, 204, 204); border-top-width: 3px; border-top-style: solid; float: left;
}
.ctrl-supply li a {
	padding: 10px 15px 10px 35px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left; display: block; background-image: url("images/video.gif"); background-repeat: no-repeat;
}
.ctrl-supply li.cur {
	border-top-color: rgb(255, 102, 0); border-top-width: 3px; border-top-style: solid;
}
.ctrl-supply li.cur a {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.supply {
	width: 720px; float: right;
}
.supply li {
	line-height: 20px; float: left;
}
.supply li a {
	padding: 10px 15px 10px 35px; float: left; display: block; background-image: url("images/video.gif"); background-repeat: no-repeat;
}
.srcCommon {
	width: 20px; height: 20px; margin-right: 2px; margin-bottom: 2px; float: left; display: block; background-image: url("images/video.gif"); background-repeat: no-repeat;
}
.sourceOnList dd a {
	width: 20px; height: 20px; margin-right: 2px; margin-bottom: 2px; float: left; display: block; background-image: url("images/video.gif"); background-repeat: no-repeat;
}
.g-wasu {
	background-position: 4px -556px;
}
.g-youku {
	background-position: 4px -11px;
}
.g-ku6 {
	background-position: 4px -46px;
}
.g-pptv {
	background-position: 4px -74px;
}
.g-iqiyi {
	background-position: 4px -104px;
}
.g-tudou {
	background-position: 4px -163px;
}
.g-baofeng {
	background-position: 4px -522px;
}
.g-letv {
	background-position: 4px -260px;
}
.g-56 {
	background-position: 4px -404px;
}
.g-sohu {
	background-position: 4px -461px;
}
.g-pps {
	background-position: 4px -490px;
}
.g-sina {
	background-position: 4px -200px;
}
.g-xunlei {
	background-position: 4px -223px;
}
.g-qq {
	background-position: 4px -640px;
}
.s-wasu {
	background-position: 10px -540px;
}
.s-youku {
	background-position: 10px 0px;
}
.s-ku6 {
	background-position: 10px -30px;
}
.s-pptv {
	background-position: 10px -60px;
}
.s-iqiyi {
	background-position: 10px -90px;
}
.s-tudou {
	background-position: 10px -150px;
}
.s-baofeng {
	background-position: 10px -506px;
}
.s-letv {
	background-position: 10px -245px;
}
.s-56 {
	background-position: 10px -390px;
}
.s-sohu {
	background-position: 10px -450px;
}
.s-pps {
	background-position: 10px -478px;
}
.s-sina {
	background-position: 10px -184px;
}
.s-xunlei {
	background-position: 10px -213px;
}
.s-qq {
	background-position: 10px -630px;
}
.plot {
	padding: 10px; line-height: 180%; font-size: 14px;
}
.others {
	background: rgb(238, 238, 238); padding: 10px 15px 0px; height: 260px;
}
.comment_txt {
	padding: 10px 0px 15px; margin-bottom: 5px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.c_name {
	color: rgb(0, 0, 0); padding-bottom: 3px;
}
.c_name span {
	color: rgb(153, 153, 153); padding-left: 10px;
}
.post_cont {
	line-height: 160%; font-size: 12px;
}
.startBox {
	top: -5px; padding-top: 10px; position: relative;
}
.myScore {
	background: url("images/icons.png") -40px -120px; top: 3px; width: 22px; height: 20px; display: inline-block; position: relative;
}
.myScore-on {
	background: url("images/icons.png") 0px -120px; top: 3px; width: 22px; height: 20px; display: inline-block; position: relative;
}
.tip1 {
	background: url("images/tip1.png"); width: 252px; height: 102px; position: absolute; z-index: 333;
}
.tip1 dl {
	padding: 10px 20px 20px; line-height: 180%;
}
.tip1 dt {
	padding-bottom: 3px;
}
.tip1 em {
	padding: 0px 3px; line-height: 16px; float: right;
}
.tip1 dd em.bad {
	background: rgb(102, 153, 0); color: rgb(255, 255, 255);
}
.tip1 dd em.good {
	background: rgb(204, 51, 0); color: rgb(255, 255, 255);
}
.play-link {
	position: relative;
}
.tip1 {
	left: 180px; top: -92px;
}
.search_key {
	padding: 15px 0px; font-size: 14px;
}
.orderbox {
	padding: 0px 0px 10px;
}
.orderbox .on:link {
	color: rgb(255, 102, 0); font-weight: bold;
}
.orderbox .on:visited {
	color: rgb(255, 102, 0); font-weight: bold;
}
.orderbox a {
	padding: 0px 10px;
}
.videoList {
	padding: 20px 0px 20px 135px; clear: both; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; position: relative; zoom: 1;
}
.videoList li.thumb {
	left: 0px; top: 20px; position: absolute;
}
.videoList .avatar {
	width: 115px; height: 150px; overflow: hidden; display: block; position: relative;
}
.videoList .avatar img {
	width: 100%; height: 100%;
}
.videoList li .avatar:hover .mask-play {
	background: url("images/play.png"); left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 333; cursor: pointer;
}
.videoList li .avatar .tip {
	background: 0px 0px rgba(0, 0, 0, 0.4) !important; left: 0px; width: 100%; text-align: center; bottom: 0px; color: rgb(255, 255, 255); line-height: 20px; filter: Alpha(opacity=40); position: absolute; z-index: 999;
}
.videoList li p {
	line-height: 20px;
}
.videoList li .date {
	width: 250px; float: left;
}
.videoList li .type {
	width: 250px; float: left;
}
.videoList li .director {
	width: 250px; float: left;
}
.videoList li.plot {
	padding: 6px 0px; clear: both; font-size: 12px;
}
.videoList li .grade-score {
	float: right;
}
.videoList li .grade-score strong {
	color: rgb(255, 102, 0); font-size: 16px;
}
a.btn-play2 {
	background: url("images/btns.png") no-repeat 0px -86px; width: 125px; height: 32px; color: rgb(102, 102, 102); text-indent: -999px; overflow: hidden; display: block;
}
a.btn-play2:hover {
	background: url("images/btns.png") no-repeat 0px -118px; color: rgb(102, 102, 102);
}
.ranks {
	width: 315px; padding-bottom: 30px; float: left;
}
.left {
	padding-right: 50px;
}
.close {
	background: url("images/close.gif") no-repeat 0px 9px; height: 30px; line-height: 30px; padding-left: 20px; float: right; display: block;
}
.reflesh {
	background: url("images/reflesh.gif") no-repeat 0px; height: 30px; line-height: 30px; padding-left: 30px; float: right; display: block;
}
.box-feedback {
	background: url("images/feedbackbg.gif") no-repeat 0px 0px rgb(255, 255, 255); padding: 30px 35px 35px; width: 530px; height: 305px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; position: absolute; z-index: 9999;
}
.box-feedback h2 {
	color: rgb(0, 153, 204);
}
.box-feedback .close {
	top: -5px; right: -10px; position: relative;
}
.ctrl-question li {
	background: rgb(238, 238, 238); padding: 5px 10px; border: 1px solid rgb(204, 204, 204); font-size: 14px; margin-right: 5px; float: left; white-space: nowrap; cursor: pointer;
}
.ctrl-question li.cur {
	background: rgb(4, 157, 219); border: 1px solid rgb(3, 120, 168); color: rgb(255, 255, 255);
}
.box-feedback textarea {
	border: 1px solid rgb(204, 204, 204); width: 530px; height: 100px; margin-top: 10px;
}
.box-feedback .input-contact {
	padding: 5px; border: 1px solid rgb(204, 204, 204); width: 480px;
}
.center {
	text-align: center;
}
.window-mask {
	background: rgb(0, 0, 0); left: 0px; top: 0px; filter: alpha(opacity=60); position: absolute; z-index: 7777; opacity: 0.6;
}
.vlist-group {
	font-size: 12px;
}
.vlist-group li {
	padding: 2px 5px; border: 1px solid rgb(192, 192, 192); color: rgb(102, 102, 102); margin-right: 10px; margin-bottom: 8px; float: left; list-style-type: none; white-space: nowrap; cursor: pointer; background-color: rgb(232, 232, 232);
}
.vlist-group dt {
	float: left;
}
dd {
	float: left;
}
.vlist-group dt {
	width: 80px; text-align: center;
}
.vlist-group dd {
	width: 870px;
}
.vlist-group .cur {
	background: rgb(255, 153, 0); border: 1px solid rgb(255, 102, 0); color: rgb(255, 255, 255);
}
.vinfop span {
	float: left;
}
.vinfop .t1 {
	width: 36px;
}
.vinfop .t2 {
	width: 340px;
}
.vinfop .t2 a {
	padding-bottom: 5px; padding-left: 5px; float: left; display: block; white-space: nowrap;
}
